<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Socket Demo</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script> -->
    <script src="/static/libs/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/styles/style.css">
  </head>

  <body>
    <p>Host: <b id="host"></b></p>
    <p>Connection: <b id="connection">Connecting...</b></p>
    <p>User: <b id="userId"></b></p>

    <hr />

    <div>
      <h1>Users</h1>
      <div id="logs"></div>
    </div>
    <div style="display: flex; flex-direction: row; margin-top: 20px">
      <!-- <input type="text" id="messageTextBox"  /> -->
      <textarea id="messageTextBox" name="w3review" rows="4" cols="50" disabled></textarea>
      <button onClick="sendMessage()" id="submitBtn" disabled>Send</button>
    </div>
    <div>
      <h1>Messages</h1>
      <div id="messages">
<ul id="messagesUsers"></ul>

      </div>
    </div>

    <script src="/static/js/home.js"></script>
  </body>
</html>
